<nav class="navbar sticky-top navbar-expand-lg navbar-light sticky-offset">
  <a class="navbar-brand" href="#">Club</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#club_dropdown" aria-controls="club_dropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="club_dropdown">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to 'View All Clubs', clubs_path, class: 'nav-link' %>
      </li>
      <% if @owner_user_id == current_user.id %>
        <li class="nav-item">
          <a type="button" class="nav-link" data-toggle="modal" data-target="#manage_club_details">Edit Details</a>
        </li>
        <li class="nav-item">
          <a type="button" class="nav-link" data-toggle="modal" data-target="#add_club_member">Add Members</a>
        </li>
        <li class="nav-item">
          <a type="button" class="nav-link" data-toggle="modal" data-target="#manage_club_members">Manage Members</a>
        </li>
      <% end %>
      <li class="nav-item">
        <a type="button" class="nav-link" data-toggle="modal" data-target="#leave_club">Leave Club</a>
      </li>
    </ul>
    <div class="d-none d-lg-block">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a type="button" class="nav-link" id="roster-toggle"><i class="fas fa-user-friends"></i></a>
        </li>
        <li class="nav-item">
          <a type="button" class="nav-link" id="sidebar_rightCollapse"><i class="fas fa-comments"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>


