<div class="row">
  <div class="col-xs-12 col-md-10 offset-md-1 col-xl-6 offset-xl-3">
    
    <h1 class="center_title">My Clubs</h1>
    <br>

    <% if @memberships.present? %>
      <div class="row row-cols-1 row-cols-md-3">
        <% @memberships.each do |member| %>
          <div class="col mb-4">
            <div class="card">
              <img src="<%= member.club.picture %>" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title text-truncate"><%= member.club.title %></h5>
                <% if member.club.description == "" %>
                  <p class="card-text text-truncate">[No Description]</p>
                <% else %>
                  <p class="card-text text-truncate"><%= member.club.description %> </p>
                <% end %>
                <div class="text-center"><a class="btn btn-secondary stretched-link" href="/clubs/<%= member.club_id %>">Go to Club</a></div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <h2>
        You do not belong to any Clubs yet.
        <br>
        <br>
        Ask a current Club owner to invite you to their Club...or create your own!
      </h2>
    <% end %>
  </div>
</div>
