<nav id="sidebar_left"> 
  <div id="season_standings">
    <div class="row pt-5">
      <div class="col-10 offset-1 comment-card" style="height: 75vh">
        <div class="container">
          <h3 class="center_title">Season Standings</h3>
          <h5> Username | Funds | Contracts Owned </h5>
        </div>
        <div class="container scrolly" style="height: 90%">

          <% @season_memberships.each do |member| %>
            <a href="/profile/<%= member.user_id %>"><%= member.user.username %></a> | <%= number_to_currency(member.assets.where({ :category => "season_fund"}).at(0).quantity) %> | <%= member.assets.where("category = ? OR category =?", "contract_quantity_a", "contract_quantity_b").sum(:quantity).to_i %>
            <br>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</nav>
