<form action="/comments/create/<%= current_user.id %>" method="post" enctype="multipart/form-data">
  <div class="form-group">
    <% if @parent_id.present? %>
      <input type="hidden" id="hidden_parent_id" name="parent_id" value="<%= @parent_id %>">
    <% end%>
    <label for="comment_body">What would you like to say?</label>
    <input class="form-control" id="comment_body" type="text" name="body" placeholder="Have something on your mind?">
    <br>
    <br>
    <button class="btn btn-secondary">Submit Comment</button>
  </div>
</form>