<nav class="navbar sticky-top navbar-expand-lg navbar-light sticky-offset">
  <a class="navbar-brand" href="#">Season Management</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#season_dropdown" aria-controls="season_dropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="season_dropdown">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a type="button" class="nav-link" id="return" href="/clubs/<%= @club_row.id %>">Return to Club</a>
      </li>
      <% if @season_row.status != "closed" %> 
        <% if @owner_user_id == current_user.id %>
          <li class="nav-item">
            <a type="button" class="nav-link" data-toggle="modal" data-target="#manage_season_details">Edit Details</a>
          </li>
          <li class="nav-item">
            <a type="button" class="nav-link" data-toggle="modal" data-target="#add_season_member">Add Members</a>
          </li>
          <li class="nav-item">
            <a type="button" class="nav-link" data-toggle="modal" data-target="#manage_season_members">Manage Members</a>
          </li>
          <li class="nav-item">
            <a type="button" class="nav-link" data-toggle="modal" data-target="#manage_user_funds">Manage User Funds</a>
          </li>
          <li class="nav-item">
            <a type="button" class="nav-link" data-toggle="modal" data-target="#create_market">Create Market</a>
          </li>
          <li class="nav-item">
            <a type="button" class="nav-link" data-toggle="modal" data-target="#close_season">Close Season</a>
          </li>
        <% end %>
        <li class="nav-item">
          <a type="button" class="nav-link" data-toggle="modal" data-target="#leave_season">Leave Season</a>
        </li>
      <% end %>
    </ul>
    <div class="d-none d-lg-block">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a type="button" class="nav-link" id="standings-toggle"><i class="fas fa-user-friends"></i></a>
        </li>
        <li class="nav-item">
          <a type="button" class="nav-link" id="sidebar_rightCollapse"><i class="fas fa-comments"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>