<div class="col-md-6 offset-md-3">
  <div class="jumbotron">
    <h1 class="center_title">Create a New Season</h1>
    <br>
      <form action="/create_new_season" method="post">
        <div class="form-group">
          <!-- Change this to a dropdown of available clubs instead of text entry -->
          <!-- If user does not have a club they can add season for then put msg that they need to create a club first and -->
          <!-- Include some form of permission functionality where only members of each club who are designated owner or admin under category column can create season -->
          <label for="create_season_club_connection">Which club would you like to create a season for?</label>
          <input class="form-control" id="create_season_club_connection" type="text" name="associated_club_id" placeholder="Enter the club ID...">
          <br>
          <label for="create_season_title">What is the title of your season?</label>
          <input class="form-control" id="create_season_title" type="text" name="season_title" placeholder="Enter a title...">
          <br>
          <label for="create_season_description">What is the description of your season?</label>
          <input class="form-control" id="create_season_description" type="text" name="season_description" placeholder="Enter a description...">
          <br>
          <label for="create_season_fund ">How much money do you want season participants to start with?</label>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">$</span>
              </div>
            <input class="form-control" id="create_season_fund" type="text" name="season_fund" placeholder="Enter an amount...">
          </div>

          <!-- Add picture and a password fields in the future -->
          <br>          
          <button class="btn btn-secondary btn-block">Create Season</button>
        </div>
      </form>
  </div>
</div>
    