<nav id="sidebar_left">
  <div id="club_roster">
    <div class="row pt-5">
      <div class="col-10 offset-1 comment-card" style="height: 75vh">
        <div class="container">
          <h3 class="center_title">Club Roster</h3>
          <h5> Username | Role </h5>
        </div>
        <div class="container scrolly" style="height: 90%">
          
          <% @membership_rows.each do |member| %>
            <a href="/profile/<%= member.user_id %>"><%= member.user.try(:username) %></a> | <%= member.category %>
            <br>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</nav>
