<nav class="navbar sticky-top navbar-expand-lg navbar-light sticky-offset">
  <a class="navbar-brand" href="#">Club Management</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#club_dropdown" aria-controls="club_dropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="club_dropdown">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a type="button" class="nav-link" href="/my_clubs">View All Clubs</a>
      </li>
      <li class="nav-item">
        <a type="button" class="nav-link" id="roster-toggle">Club Roster</a>
      </li>
      <% if @owner_user_id == current_user.id %>
        <li class="nav-item">
          <a type="button" class="nav-link" data-toggle="modal" data-target="#manage_club_details">Edit Club Details</a>
        </li>
        <li class="nav-item">
          <a type="button" class="nav-link" data-toggle="modal" data-target="#add_club_member">Add Club Members</a>
        </li>
        <li class="nav-item">
          <a type="button" class="nav-link" data-toggle="modal" data-target="#manage_club_members">Manage Club Members</a>
        </li>
        <li class="nav-item">
          <a type="button" class="nav-link" data-toggle="modal" data-target="#create_season">Create Season</a>
        </li>
      <% end %>
      <li class="nav-item">
        <a type="button" class="nav-link" data-toggle="modal" data-target="#leave_club">Leave Club</a>
      </li>
    </ul>
  </div>
</nav>