<div class="row">
  <div class="col-6 offset-3">
    <div class="jumbotron">
      <h1 class="center_title">Create a New Club</h1>
      <br>
        <form action="/create_new_club" method="post" enctype="multipart/form-data">
          <div class="form-group">
            <label for="create_club_title">What is the title of your club?</label>
            <input class="form-control" id="create_club_title" type="text" name="club_title" placeholder="Enter a title..." required="required">
            <br>
            <label for="create_club_description">What is the description of your club?</label>
            <input class="form-control" id="create_club_description" type="text" name="club_description" placeholder="Enter a description...">
            <br>
            <label for="create_club_picture">What picture would you like to set for your Club?</label>
            <input type="file" id="create_club_picture" name="club_picture" class="form-control">
            <br>
            <button class="btn btn-secondary btn-block">Create Club</button>
          </div>
        </form>
    </div>
  </div>
</div>