<div class="col-md-6 offset-md-3">
  <div class="jumbotron">
    <h1 class="center_title">Create a New Club</h1>
    <br>
      <form action="/create_new_club" method="post">
        <div class="form-group">
          <label for="create_club_title">What is the title of your club?</label>
          <input class="form-control" id="create_club_title" type="text" name="club_title" placeholder="Enter a title...">
          <br>
          <label for="create_club_description">What is the description of your club?</label>
          <input class="form-control" id="create_club_description" type="text" name="club_description" placeholder="Enter a description...">

          <!-- Add picture and a password fields in the future -->
          <br>
          <button class="btn btn-secondary btn-block">Create Club</button>
        </div>
      </form>
  </div>
</div>
        