<div class="col-md-6 offset-md-3">
  <div class="jumbotron">
    <h1>Create a New Club</h1>
      <form action="/create_new_club" method="post">
        <label for="create_club_title">What is the title of your club?</label>
        <input id="create_club_title" type="text" name="club_title" placeholder="Enter a title...">

        <label for="create_club_description">What is the description of your club?</label>
        <input id="create_club_description" type="text" name="club_description" placeholder="Enter a description...">

        <!-- Add picture and a password fields in the future -->
              
        <button>Create Club</button>
      </form>
  </div>
</div>
        