<nav class="navbar sticky-top navbar-expand-lg navbar-light sticky-offset">
  <a class="navbar-brand" href="#">Contract</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#contract_dropdown" aria-controls="contract_dropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span><i class="fa fa-chevron-down fa-lg"></i></span>
  </button>
  <div class="collapse navbar-collapse" id="market_dropdown">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a type="button" class="nav-link" id="return" href="/markets/<%= @contract.market.id %>">Return to Market</a>
      </li>
      <% if @owner_user_id == current_user.id && @contract.market.status != "closed" %>
        <li class="nav-item">
          <a type="button" class="nav-link" data-toggle="modal" data-target="#manage_contract_details">Edit Details</a>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
