<div class="col-md-8 offset-md-2">
  <div class="jumbotron">
    <h1 class="center_title">Create a New Market</h1>
    <br>
      <form action="/create_new_market" method="post">
        <div class="form-group">
          <!-- Change this to a dropdown of available clubs & seasons instead of text entry -->
          <!-- If user does not have a club and season they can add a market for then put msg that they need to create a club/season first and -->
          <!-- Include some form of permission functionality where only members of each season who are designated owner or admin under category column can create market -->
          <select class="form-control" required="required" id="select_season" name="associated_season_id"><option value="">Select (Club | Season)</option>
            <% @user_season_memberships.each do |season_option| %>
            <option value="<%= season_option.seasons_id %>"><%= Season.where({:id => season_option.seasons_id }).at(0).club.title %> | <%= Season.where({:id => season_option.seasons_id }).at(0).title %></option>
            <% end %>
          </select>
          <br>
          <label for="create_market_title">What is the title of your market?</label>
          <input class="form-control" id="create_market_title" type="text" name="market_title" placeholder="Enter a title...">
          <br>
          <label for="create_market_description">What is the description of your market?</label>
          <input class="form-control" id="create_market_description" type="text" name="market_description" placeholder="Enter a description...">
          <br>
                <!-- Consider adding in future functionality that allows giving season participants more money when a market is created and/or some quantity of contracts
                  <label for="create_market_price">How much money do you want market participants to start with?</label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">$</span>
                    </div>
                    <input class="form-control" id="create_market_price" type="text" name="market_price" placeholder="Enter a dollar amount...">
                  </div>
                  <br>
                  <label for="create_market_quantity">For each contract in your market, how many assets do you want your market participants to start with?</label>
                  <input class="form-control" id="create_market_quantity" type="text" name="market_quantity" placeholder="Enter a quantity...">
                -->
          <!-- Add picture and a password fields in the future -->
          <br>
          <button class="btn btn-secondary btn-block">Create Market</button>
        </div>
      </form>
  </div>
</div>