<div class="row">   
  <div class="col-xs-12 col-lg-6 offset-lg-3">
    <div class="jumbotron">
      <h1 class="center_title">Create a New Market</h1>
      <br>
        <form action="/create_new_market" method="post" enctype="multipart/form-data">
          <div class="form-group">
            <!-- If user does not have a club and season they can add a market for then put msg that they need to create a club/season first and -->
            <!-- Include some form of permission functionality where only members of each season who are designated owner or admin under category column can create market -->
            <select class="form-control" required="required" id="select_season" name="associated_season_id"><option value="">Select (Club | Season)</option>
              <% @user_season_memberships.each do |season_option| %>
                <option value="<%= season_option.seasons_id %>"><%= season_option.season.club.title %> | <%= season_option.season.title %></option>
              <% end %>
            </select>
            <br>
            <label for="create_market_title">What is the title of your market?</label>
            <input class="form-control" id="create_market_title" type="text" name="market_title" placeholder="Enter a title..." required>
            <br>
            <label for="create_market_description">What is the description of your market?</label>
            <input class="form-control" id="create_market_description" type="text" name="market_description" placeholder="Enter a description...">
            <br>
            <label for="market_type">What kind of market would you like to create?<br>Note: If you are unsure which type is best, it is recommended to stick with the Standard Market.</label>
            <select class="form-control" required="required" id="market_type" name="market_category">
              <option value="Independent">Standard Market</option>
              <option value="Classical">Special Market with Mutually Exclusive Contracts</option>
            </select>
                  <!-- Consider adding in future functionality that allows giving season participants more money when a market is created and/or some quantity of contracts
                    <label for="create_market_price">How much money do you want market participants to start with?</label>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text">$</span>
                      </div>
                      <input class="form-control" id="create_market_price" type="text" name="market_price" placeholder="Enter a dollar amount...">
                    </div>
                    <br>
                    <label for="create_market_quantity">For each contract in your market, how many assets do you want your market participants to start with?</label>
                    <input class="form-control" id="create_market_quantity" type="text" name="market_quantity" placeholder="Enter a quantity...">
                  -->
            <br>
            <label for="create_market_picture">What picture would you like to set for your Market?</label>
            <input type="file" id="create_market_picture" name="market_picture" class="form-control">
            <br>
            <button class="btn btn-secondary btn-block">Create Market</button>
          </div>
        </form>
    </div>
  </div>
</div>