/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap";

@import "font-awesome-sprockets";
@import "font-awesome";

/* general custom css start */
.center_title {
  text-align: center;
}

.full-width {
    width: 20vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.btn-group-xs > .btn, .btn-xs {
  padding: .25rem .4rem;
  font-size: .875rem;
  line-height: .5;
  border-radius: .2rem;
}

.avatar {
  vertical-align: middle;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.comment-text {
  overflow: hidden;
}

.comment-box {
  display: flex;
  flex-direction: column-reverse;
}

.comment-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#flash_messages {
  padding-left: 20vw;
  padding-right: 20vw;
}
/* general custom css end*/

/* Custom Bootstrap css start */

.custom-color-1 {
  background-color: #24305E;
}

.custom-color-2 {
  background-color: #374785;
}

.custom-color-3 {
  background-color: #A8D0E6;
}

.custom-color-4 {
  background-color: #F76C6C;
}

.custom-color-5 {
  background-color: #F8E9A1;
}

.custom-color-6 {
  background-color: #C5C6C7;
}

.custom-background {
  background-image: url(asset_path('background_wall.jpg'));
  background-size: cover;
  height: 100%;
  }

.navbar {
   background-color: #24305E;
}

.btn-secondary {
  background-color: #24305E;
}

@media screen and (max-width: 767px) {
    .card-img-top {
    width: 100%;
    height: 45vw;
    object-fit: cover;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
    .card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
  }
}

@media screen and (min-width: 1440px) {
    .card-img-top {
    width: 100%;
    height: 10vw;
    object-fit: cover;
  }
}


.jumbotron {
  padding: 1rem 2rem;
}

.sticky-offset {
  top: 56px;
  z-index: 1;
  background-color: #A8D0E6;
}

@media all and (max-width: 767px) {  
  .text-small {
    font-size: 80%;
  }
}
/* Custom Bootstrap css end */

/* sidebar popout css start */
// .cw-table-list{
//     margin:0px !important;
//     table-layout:fixed;  
//   }
//   .cw-table-list td{
//     padding-bottom: 0px !important;  
//     overflow:hidden;
//   }


//    #wrapper {
//     overflow-x: hidden;
//  }

// #sidebar-wrapper {
//   min-height: 100vh;
//   margin-left: -45rem;
//   -webkit-transition: margin .25s ease-out;
//   -moz-transition: margin .25s ease-out;
//   -o-transition: margin .25s ease-out;
//   transition: margin .25s ease-out;
// }

// #sidebar-wrapper .sidebar-heading {
//   padding: 0.875rem 1.25rem;
//   font-size: 1.2rem;
// }

// #sidebar-wrapper .list-group {
//   width: 45rem;
// }

// #page-content-wrapper {
//   min-width: 100vw;
// }

// #wrapper.toggled #sidebar-wrapper {
//   margin-left: 0;
// }

// .table-control {
//   table-layout:fixed;
//   width:100%;
// }

/* sidebar popout css end */

/* Roster sidebar css start */

#sidebar_left {
    width: 20vw;
    position: fixed;
    top: 112px;
    left: 0;
    height: 50vh;
    z-index: 999;
    background: white;
    color: black;
    transition: all 0.3s;

}

#sidebar_left.active {
  margin-left: -20vw;
}

/* Roster sidebar css end */


/* Chat sidebar css start */

#club_container {
  padding-left: 20vw;
  padding-right: 20vw;
}


#sidebar_right {
    width: 20vw;
    position: fixed;
    top: 112px;
    right: 0;
    height: 50vh;
    z-index: 999;
    background: white;
    color: black;
    transition: all 0.3s;

}

/* Chat sidebar css end */

/* Comments css start */
.card-white  .card-heading {
  color: #333;
  background-color: #fff;
  border-color: #ddd;
   border: 1px solid #dddddd;
}
.card-white  .card-footer {
  background-color: #fff;
  border-color: #ddd;
}
.card-white .h5 {
    font-size:14px;
    //font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.card-white .time {
    font-size:12px;
    //font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.post .post-heading {
  height: 95px;
  padding: 20px 15px;
}
.post .post-heading .avatar {
  width: 60px;
  height: 60px;
  display: block;
  margin-right: 15px;
}
.post .post-heading .meta .title {
  margin-bottom: 0;
}
.post .post-heading .meta .title a {
  color: black;
}
.post .post-heading .meta .title a:hover {
  color: #aaaaaa;
}
.post .post-heading .meta .time {
  margin-top: 8px;
  color: #999;
}
.post .post-image .image {
  width: 100%;
  height: auto;
}
.post .post-description {
  padding: 15px;
}
.post .post-description p {
  font-size: 14px;
}
.post .post-description .stats {
  margin-top: 20px;
}
.post .post-description .stats .stat-item {
  display: inline-block;
  margin-right: 15px;
}
.post .post-description .stats .stat-item .icon {
  margin-right: 8px;
}
.post .post-footer {
  border-top: 1px solid #ddd;
  padding: 15px;
}
.post .post-footer .input-group-addon a {
  color: #454545;
}
.post .post-footer .comments-list {
  padding: 0;
  margin-top: 20px;
  list-style-type: none;
}
.post .post-footer .comments-list .comment {
  display: block;
  width: 100%;
  margin: 20px 0;
}
.post .post-footer .comments-list .comment .avatar {
  width: 35px;
  height: 35px;
}
.post .post-footer .comments-list .comment .comment-heading {
  display: block;
  width: 100%;
}
.post .post-footer .comments-list .comment .comment-heading .user {
  font-size: 14px;
  font-weight: bold;
  display: inline;
  margin-top: 0;
  margin-right: 10px;
}
.post .post-footer .comments-list .comment .comment-heading .time {
  font-size: 12px;
  color: #aaa;
  margin-top: 0;
  display: inline;
}
.post .post-footer .comments-list .comment .comment-body {
  margin-left: 50px;
}
.post .post-footer .comments-list .comment > .comments-list {
  margin-left: 50px;
}

/* Comments css end */

/* closure_tree css start */
.replies {margin-left: 50px;}
.replies .replies {margin-left: 0;}
/* closure_tree css end */


/* Right sidebar css start */
.scrolly {
  overflow-y: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.scrolly::-webkit-scrollbar {
  display: none;
}

#sidebar-test {
  min-height: 100vh;
  margin-left: -45rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-test {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}
/* Right sidebar css end */

/* typeahead css start */
span.twitter-typeahead {

  .tt-menu {
    @extend .dropdown-menu;
  }

  .tt-suggestion {
    @extend .dropdown-item;
  }

  .tt-suggestion.tt-cursor {
    @extend .dropdown-item.active;
  }

  .input-group & {
    display: flex !important;
    align-items: center;
    position: relative;
    flex: 1 1 auto;
    width: 1%;

    .tt-menu, .tt-hint, .tt-input {
      width: 100%;
    }
  }
}
/* typeahead css end */

