<nav class="navbar sticky-top navbar-expand navbar-light sticky-offset">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#club_dropdown" aria-controls="club_dropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="club_dropdown">
    <ul class="navbar-nav mr-auto mx-auto">
      <li class="nav-item">
        <a type="button" class="nav-link" href="/my_clubs">My Clubs</a>
      </li>
      <li class="nav-item">
        <a type="button" class="nav-link" href="/my_seasons">My Seasons</a>
      </li>
      <li class="nav-item">
        <a type="button" class="nav-link" href="/my_markets">My Markets</a>
      </li>
    </ul>
  </div>
</nav>