<div class="row">   
  <div class="col-xs-12 col-md-8 offset-md-2 col-xl-6 offset-xl-3">
    <h1 class="center_title">About Predicts Hit</h1>
  </div>
</div>
<div class="row">   
  <div class="col-xs-12 col-md-8 offset-md-2 col-xl-6 offset-xl-3">
    <br>
    <h3>What is Predicts Hit?</h3>
      <div>
        Predicts Hit is a prediction market platform designed to make predicting the outcome of events with friends simple, quick, and fun. Predicts Hit provides the tools for you to compete with friends to predict the outcome of anything you want. Who among you is best at forecasting the outcomes during a sport season? Who has been keeping track of the best teams for your crew's favorite video game? Who is able to anticipate the future winner of your favorite reality tv show? Predicts Hit allows you to measure your ability to predict whatever it is you want to predict.
      </div>
  </div>
</div>
<br>
<div class="row">   
  <div class="col-xs-12 col-md-8 offset-md-2 col-xl-6 offset-xl-3">
    <br>
    <h3>What is our mission?</h3>
      <div>
       Our goal is to enable small groups of people to effortlessly compete amongst each other to see who can most consistently and accurately predict outcomes. We want to give groups who enjoy debating what is going to happen during their favorite events to have a physical, concrete way of measuring their predictions. Essentially, we want to take friendly wagers to the next level.
      </div>
  </div>
</div>
