<div class="row">   
  <div class="col-6 offset-3">
    <h1 class="center_title">About Page</h1>
  </div>
</div>
<div class="row">   
  <div class="col-6 offset-3">
    <br>
    <h3>What is Predicts Hit?</h3>
      <div>
        Predicts Hit is a prediction market platform designed to make betting on the outcome of events with friends simple, quick, and fun. Predicts Hit provides the tools for you to compete with friends to predict the outcome of anything you want. Who among you is best at predicting the outcomes of a tennis tournament? Who has been keeping track of the best teams for your crew's favorite video game? Who is able to sense the future winner of your favorite reality tv show? Predicts Hit allows you to determine all of the above and is only limited by your creativity.
      </div>
  </div>
</div>
<br>
<div class="row">   
  <div class="col-6 offset-3">
    <br>
    <h3>What is our mission?</h3>
      <div>
       Out goal is to enable small groups of people to effortlessly compete amongst each other to see who can most consistently and accurately predict outcomes.
      </div>
  </div>
</div>
