<div class="row">
  <div class="col-6 offset-3">
    <h1 class="center_title">Frequently Asked Questions</h1>
  </div>
</div>

<br>

<div class="row">
  <div class="col-6 offset-3">
    <div class="accordion" id="faq">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h2 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" style="color: black">
              <b>What is a prediction market?</b>
            </button>
          </h2>
        </div>

        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#faq">
          <div class="card-body">
            A prediction market is a market comprised of contracts which represent presently unknown future outcomes that traders can buy and sell based on their beliefs of the probability of the outcome occuring. A prediction market contract trades between $0.00 and $1.00 and is binary in the sense that it will either pay out $0.00 because it did not happen or $1.00 because it did happen. For example, a contract might be currently priced at $0.30 per share. If you, a trader, think the outcome is very likely to occur, you might purchase the contract because it pays out $1.00 if it occurs but only currently costs $0.30.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" style="color: black">
              <b>What is the difference between Clubs, Seasons, and Markets and why do they all exist?</b>
            </button>
          </h2>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#faq">
          <div class="card-body">
            <u>In short</u>
            <br>
            A Club has many Seasons and a Season has many Markets.
            <br>
            <br>
            <u>In long</u>
            <br>
            A <i>Club</i> is the highest level and is meant to organize you and your friends into groups. For example, if you use Predicts Hit with your college friends and your coworkers, you might have a Club for your college friends and a Club for your coworkers.
            <br>
            <br>
            A <i>Season</i> is the middle level, is contained within a Club, and tracks how users perform over multiple markets. For example, if you wanted to predict outcomes for a video game tourament, you might create a season for that tournament and invite users from your Club who are interested in that tournament. Users would start with some set amount of money, as determined by the Season creator, and they would use those funds to predict the outcomes of multiple markets. Whoever has the most money at the end of the Season wins! 
            <br>
            <br>
            A <i>Market</i> is the lowest level and is contained within a Season. For the same video game example, you might create multiple markets to predict how well certain teams or players perform. Users in the Season would predict the outcomes for these markets using their Season funds and try to correctly guess the outcomes.
            <br>
            <br>
            <u>An example</u>
            <br>
            I want to use Predicts Hit with my coworkers so I create a Club called 'Big Business' and invite all of my coworkers who want to play. Some of my coworkers want to predict the outcomes of the US Open tennis tournament and some of my coworkers want to predict the outcome of the next season of the Bachelor. Therefore I create a Season called 'US Open 2021' and another Season called 'The Bachelor Season 25' and invite whoever wants to participate from my Club Big Business into each Season. Then, for example, for my Season Us Open 2021, I might create multiple markets for events throughout the tournament. For example, I might create markets that track tournament-long outcomes such as 'Who will win the tournament?' or 'Who will serve the most aces?' or 'Will Federer smash a racquet during the tournament?' I might also create game specific markets such as 'Who will win in the match between Player X and Player Y' or 'how many sets will be played in the match between Player X and Player Y?' Be creative -- as long as there is a discrete, knowable outcome, you can make a market for it! For The Bachelor Seaosn 25 I might make markets each week to predict who will receive roses or who will the Bachelor kiss, etc. Then, at the end of the US Open or the Bachelor Season, we would see who performed best over all of the markets throughout the Season.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingThree">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" style="color: black">
              <b>Do I need to use real money?</b>
            </button>
          </h2>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#faq">
          <div class="card-body">
            No! There is absolutely no money involved and this website is completely free to use. We personally do not think that real money is necessary to have fun with prediction markets...but obviously we cannot control whether you and your friends decide to bet money on the side.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingFour">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour" style="color: black">
              <b>How are the prices in each market determined?</b>
            </button>
          </h2>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#faq">
          <div class="card-body">
            <u>The short answer</u>
            <br>
            The prices are determined by an algorithm that determines a price based on the shares currently outstanding. In essence, when a contract is in high demand its price will increase and when it is in low demand its price will decrease.
            <br>
            <br>
            <u>The long answer</u>
            <br>
            There are two market types to choose from which calculate the price uniquely, but both rely on a 'logarithmic market scoring rule' that adjusts prices based on current shares outstanding. Specifically, the formula utilized is...
            On each transaction, the formula rounds up the price to the nearest cent which is intended to partially counteract the fact that the algorithm is 
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingFive">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive" style="color: black">
              <b>The price says it is $0.XX but when I purchase multiple contracts the price goes up...what gives?</b>
            </button>
          </h2>
        </div>
        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#faq">
          <div class="card-body">
            This is a result of the algorithm that is being used to calculate the price. The price initially shown for each contract is assuming you only are buying 1 contract. The more contracts you buy simultanouesly, the more you increase the demand for the contract, thus translating to a higher price as a result of the algorithm described above. So it's not that the price of the first contract is increasing, it's just that each incremental contract you want to buy might come at a higher cost than originally posted. This is similar to how standard markets work where only a certain number of shares might be posted at the asking price and if you want to buy more than that number of shares you will have to pay more for those additional shares.
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingSix">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix" style="color: black">
              <b>The total funds of all users in the season is different from what we started with...what happened?</b>
            </button>
          </h2>
        </div>
        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#faq">
          <div class="card-body">
            This is a result of the algorithm that is being used in these markets. We designed Predicts Hit to enable the simplest possible way to participate in prediction markets. A big advantage of the algorithm that determines a contract price is that you don't need to find another interested party who is willing to buy or sell a given contract at the right price when you want it. This allows for markets with a low number of participants to still feel lively and responsive. However, this also means that the markets are not insulated to just the human players because the alorithm is acting as an intermediary that buys and sells contracts on demand. For more specific details on the algorithm see the section above about how the prices are determined. Basically, the algorithm accepts any deal but actively adjusts the pricing it is willing to accept and rounds up to the nearest penny to limit its exposure and minimize the effect you are noticing.
            <br>
            <br>
            We think its worth noting that some additional tools to address this are currently in progress. Specifically, we are working on a tool that allows a season manager to calculate a normalized fund amount so that the overall funds necessarily match up to the original total. For example, if overall your season members have more than they started with, then everyone's funds will be adjusted downwards. We are also working on enabling customization of the algorithm to allow for users who wish to fine tune it for their specific needs. As well, we are developing a market type that involves independent contracts (i.e. more than one outcome can occur) but with user-inputted starting prices so that each contract starts at a price closer to the 'right' initial price. Lastly, we are working on enabling a traditional marketplace that scraps the algorithm but still feels fun and easy to use.
            <br>
            <br>
            If you aren't happy with how this currently works please let us know by submitting an email through the Support page. We are actively working on fine tuning the algorithm and would love to hear your thoughts or suggestions.
          </div>
        </div>
      </div>

    </div>
  </div>
</div>