<h1>Work in progress...</h1>
<br>
<h2>Username Search Test</h2>

<input type="text" id="query" name="query" autocomplete="off"/>

<%# <script src="/assets/javascripts/typeahead.js"></script> %>
<script>
  var users = new Bloodhound({
    datumTokenizer: Bloodhound.tokenizers.whitespace,
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    remote: {
      url: '/users/autocomplete?query=%QUERY',
      wildcard: '%QUERY'
    }
  });
  $('#query').typeahead(null, {
    source: users
  });
</script>