<h1>Work in progress...</h1>
<br>
<h2>Test Sending Messages Through Mailgun</h2>
<br>
<form action="/test_message" >
  <div class="form-group">
    <label for="message">What messasge would you like to send</label>
    <input class="form-control" id="message" type="text" name="message" placeholder="Enter a message...">
  </div>
  <button class="btn btn-secondary btn-block">Update Club Details</button>
</form>