<h1>Global Markets</h1>


<div class="container">
  <div class="row">
    <div class="col-sm">
		<div class="card" style="width: 18rem;">
		  
		  <div class="card-body">
		    <h5 class="card-title">Market 1</h5>
		    <p class="card-text">Market Description</p>
		  </div>
		  <ul class="list-group list-group-flush">
		    <li class="list-group-item">Asset 1</li>
		    <li class="list-group-item">Asset 2</li>
		    <li class="list-group-item">Asset 3</li>
		  </ul>
		  <div class="card-body mx-auto">
		    <a href="#" class="btn btn-primary">Play Market</a>
		  </div>
		</div>
    </div>
    <div class="col-sm">
		<div class="card" style="width: 18rem;">
		  
		  <div class="card-body">
		    <h5 class="card-title">Market 2</h5>
		    <p class="card-text">Market Description</p>
		  </div>
		  <ul class="list-group list-group-flush">
		    <li class="list-group-item">Asset 1</li>
		    <li class="list-group-item">Asset 2</li>
		    <li class="list-group-item">Asset 3</li>
		  </ul>
		  <div class="card-body mx-auto">
		    <a href="#" class="btn btn-primary">Play Market</a>
		  </div>
		</div>
    </div>
    <div class="col-sm">
		<div class="card" style="width: 18rem;">
		  
		  <div class="card-body">
		    <h5 class="card-title">Market 3</h5>
		    <p class="card-text">Market Description</p>
		  </div>
		  <ul class="list-group list-group-flush">
		    <li class="list-group-item">Asset 1</li>
		    <li class="list-group-item">Asset 2</li>
		    <li class="list-group-item">Asset 3</li>
		  </ul>
		  <div class="card-body mx-auto">
		    <a href="#" class="btn btn-primary">Play Market</a>
		  </div>
		</div>
    </div>
  </div>
</div>

<br/>

<div class="container">
  <div class="row">
    <div class="col-sm">
		<div class="card" style="width: 18rem;">
		  <div class="card-body">
		    <h5 class="card-title">Market 4</h5>
		    <p class="card-text">Market Description</p>
		  </div>
		  <ul class="list-group list-group-flush">
		    <li class="list-group-item">Asset 1</li>
		    <li class="list-group-item">Asset 2</li>
		    <li class="list-group-item">Asset 3</li>
		  </ul>
		  <div class="card-body mx-auto">
		    <a href="#" class="btn btn-primary">Play Market</a>
		  </div>
		</div>
    </div>
    <div class="col-sm">
		<div class="card" style="width: 18rem;">

		  <div class="card-body">
		    <h5 class="card-title">Market 5</h5>
		    <p class="card-text">Market Description</p>
		  </div>
		  <ul class="list-group list-group-flush">
		    <li class="list-group-item">Asset 1</li>
		    <li class="list-group-item">Asset 2</li>
		    <li class="list-group-item">Asset 3</li>
		  </ul>
		  <div class="card-body mx-auto">
		    <a href="#" class="btn btn-primary">Play Market</a>
		  </div>
		</div>
    </div>
    <div class="col-sm">
		<div class="card" style="width: 18rem;">

		  <div class="card-body">
		    <h5 class="card-title">Market 6</h5>
		    <p class="card-text">Market Description</p>
		  </div>
		  <ul class="list-group list-group-flush">
		    <li class="list-group-item">Asset 1</li>
		    <li class="list-group-item">Asset 2</li>
		    <li class="list-group-item">Asset 3</li>
		  </ul>
		  <div class="card-body mx-auto">
		    <a href="#" class="btn btn-primary">Play Market</a>
		  </div>
		</div>
    </div>
  </div>
</div>

