<div class="row">
  <div class="col-12 center_title">
    <h1>Predicts Hit</h1>
  </div>
</div>
<div class="row bg-white py-2">
  <div class="col-6 offset-3">
    <div class="jumbotron jumbotron-fluid bg-white">
      <div class="container">
        <h2 class="display-4">Take friendly wagers to the next level.</h2>
        <p class="lead">Determine who is the best among you at predicting the outcome to sporting events, political races, reality tv outcomes, video game tournaments...or, well, whatever you want.<br><br>Grab your friends, coworkers, and family members to play with you!</p>
      </div>
    </div>
  </div>
</div>

<div class="row bg-light py-5">
  
  <div class="col-xs-4 offset-xs-2 col-lg-2 offset-lg-3 my-3">
    <div class="card h-100 w-100">
      <img src="<%= asset_path('Getting_Started.jpg') %>" class="card-img-top h-50" alt="Getting Started">
      <div class="card-body">
        <h5 class="card-title">Getting Started</h5>
        <p class="card-text"><a class="stretched-link" href="/getting_started" style="text-decoration:none; color: black">Build a prediction market from scratch.</a></p>
      </div>
    </div>
  </div>

  <div class="col-xs-4 col-lg-2 my-3">
    <div class="card h-100 w-100">
      <img src="<%= asset_path('Blue_Blocks.jpg') %>" class="card-img-top h-50" alt="Getting Started">
      <div class="card-body">
        <h5 class="card-title">View Clubs</h5>
        <p class="card-text"><a class="stretched-link" href="/my_clubs" style="text-decoration:none; color: black">Navigate through your current memberships.</a></p>
      </div>
    </div>
  </div>

  <div class="col-xs-4 offset-xs-2 col-lg-2 my-3">
    <div class="card h-100 w-100">
      <img src="<%= asset_path('Globe.jpg') %>" class="card-img-top h-50" alt="Getting Started">
      <div class="card-body">
        <h5 class="card-title">Global Markets</h5>
        <p class="card-text"><a class="stretched-link" href="/global_markets" style="text-decoration:none; color: black">Compete against people around the world.</a></p>
      </div>
    </div>
  </div>
</div>
