<div class="row">   
  <div class="col-xs-12 col-md-8 offset-md-2 col-xl-6 offset-xl-3">
    <h1 class="center_title">Feedback</h1>
  </div>
</div>
<br>
<div class="row">   
  <div class="col-xs-12 col-md-8 offset-md-2 col-xl-6 offset-xl-3">
    <br>
    <h3>Contact Us</h3>
      <div>
        We are working on an integrated feedback platform...but, for now, email any questions or suggestions to predictshit@gmail.com. We'd love to hear from you!
      </div>
  </div>
</div>
